.debug {
  border: 1px solid red;
}

.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.App-body {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}

.App-link {
  color: #61dafb;
}
